<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Konrad Pawelec - Portfolio</title>
  <meta name="description" content="This website was created by Konrad Pawelec for educational stuff">
  <meta name="keywords" content="python, flask, radkon, learning">
  <meta name="author" content="Konrad Pawelec">

  <!--  Favicons-->
  <link rel="shortcut icon" href="static/img/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/img/icon16x16.png">

  <!--  Bootstrap CSS-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!--  Main style.css-->
  <link rel="stylesheet" href="static/css/style.css">

</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!--   Header -->
  <header id="header" class="masthead header fixed-top">
    <div class="container">
      <div class="row align-items-center">
        <nav class="navbar header fixed-top navbar-expand-lg navbar-light">
          <div class="container-fluid d-flex justify-content-center" id="container-header">
            <a class="navbar-brand col-7" id="header-logo" href="#hero">My Portfolio</a>
             <svg class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g color="white" data-name="Layer 2"><g color="white" data-name="list"><circle cx="4" cy="7" r="1" fill="currentcolor"/><circle cx="4" cy="12" r="1" fill="currentcolor"/><circle cx="4" cy="17" r="1" fill="currentcolor"/><rect width="14" height="2" x="7" y="11" rx=".94" ry=".94" fill="currentcolor"/><rect width="14" height="2" x="7" y="16" rx=".94" ry=".94" fill="currentcolor"/><rect width="14" height="2" x="7" y="6" rx=".94" ry=".94" fill="currentcolor"/></g></g></svg>

            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav navbar-nav-scroll">
                <li class="nav-item">
                  <a class="nav-link active" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#portfolio">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#contact">CONTACT</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <main id="main" class="main">
    <section id="hero" class="hero">
      <div class="hero-inner">
        <div class="container section text-center">
          <div class="row">
            <div class="col-md-10 col-lg-7 mx-auto">
              <h1 class="text-uppercase">
                I am Konrad
                <br>
                Junior Web Developer
              </h1>
              <p>
                Firstly, let's find out something more about me :)
              </p>
              <a href="#about" class="btn btn-secondary">Get started</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="about-mf pt-5 pb-5">

        <div class="container top-50 start-50">
          <div class="row">
            <div class="col-sm-12">
              <div class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-5 col-md-6">
                        <div class="about-img">
                          <img src="static/img/me.png" class="img-fluid rounded b-shadow-a" alt="me.png">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 d-lg-inline-flex align-items-center" id="items-about">
                        <div class="about-info">
                          <p><span class="title-s">Name: </span><span>Konrad Pawelec</span></p>
                          <p><span class="title-s">Profile: </span> <span>Junior Web Developer</span></p>
                          <p><span class="title-s">Email: </span> <a href="mailto:konrad.pawelec10@gmail.com" id="email"> konrad.pawelec10@gmail.com </a></p>
                          <p><span class="title-s">Discord: </span> <span>RaDkon#0762</span></p>
                        </div>
                      </div>
                      <div class="skills">
                        <p class="title-s">Skill</p>
                        <span>Python</span>
                        <span class="bar">70%</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>HTML</span>
                        <span class="bar">50%</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>CSS3</span>
                        <span class="bar">50%</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="about-me">
                      <div class="title-box-about-me">
                        <h5 class="title-left">
                          About me
                        </h5>
                        <p class="text-about-me">
                          I started learning programming from Python. This website is one of my projects which I created for my portfolio.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </section>
  </main>


</body>
</html>